body
{
 background-color: azure;
}
img
{
    margin-top: 20px
}
p
{
    font-weight: bold;
    padding-top: 20px;
    font-size: 20px;
    align-content: left;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
